/*通用样式*/
html {
	font-size: 100%;
}

body {
	font-size: 1em;
	margin: 0;
}

body * {
	margin: 0;
	padding: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

li {
		list-style: none;
}


a{
	text-decoration: none;
}

.comWidth {
	width: 1002px;
	margin: auto;
}

h3 {
	font-weight: 100;
}

h4 {
	font-weight: 100;
}

/*topNav样式*/
.topNav {
	color: white;
	font-size: 12px;
	position: relative;
	height: 33px;
	color: white;
	background-color: #4095D5;
}

.topNav i.iShow {
	-webkit-transform: rotate(180deg);
	top: -3px;/*与三角形翻转之前相反*/
}

.topNav i {
	display: inline-block;
	position: relative;
	left: 2px;
	top: 3px;
	width: 0;
	height: 0;
	border: 4px solid;
	border-color: #FFF transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	-webkit-transition: 0.2s;
	-webkit-transition-timing-function: ease-in;
}

.topMargin {
	line-height: 32px;
}

.topNav a {
	color: white;
	line-height: 24px;
}

.topNav li {
	width: 92px;
	background-color: #4095D5;
}


.topList a {
	display: block;

}


.topNav .head {
	padding-left: 10px;
	display: inline-block;
}


li.list {/*显示前*/
	height: 26px;
	overflow: hidden;
	border: 1px solid #4095D5;
}

li.listShow {/*hover显示*/
	border: 1px solid white;
}

li.listShow div a:hover {
	background-color: green;
}

a.one {
	background:url(http://img1.chuangshi.qq.com/book/p1/ico/cs.png) 8% 45% no-repeat;
	text-indent: 24px;
}


.topLeft {
	height: 33px;
	margin-left: 180px;
	margin-right: 368px;
}

.topRight {
	height: 33px;
}

.topNav .loginBox a:first-child {
	margin-right: 38px;
}

.topNav span {
	margin-right: 10px;
	margin-left: 10px;
}

.userCenter {
	margin-right: 5px;
}

/*pageCenter样式*/
.pageCenter {
	padding: 7px 0;
}

.pageCenter .hotwords {
	color: #999;
	padding-left: 7px;
	padding-top: 5px;
}

.hotwords a {
	color: #999;
	margin-right: 10px;
}


.hotwords a:hover {
	color: blue;
}

.pageHead {
	height: 121px;
}

.pageHead .logo {
	padding-top: 13px;
	margin-right: 76px;
}

.inputSearch {
	width: 500px;
	height: 32px;
	margin-top: 33px;
	border:2px solid #5EA3E6;
	line-height: 34px;
	font-size: 14px;

}

.inputSearch .searchClass {
	color: #666;
	line-height: 32px;
}

.inputSearch span.partLine {
	padding-right: 3px;
	height: 12px;
	width: 0;
	border-left: 2px solid #CCC;
	margin-top: 12px;
}

.pageHead .searchText {
	width: 396px;
	height: 30px;
	line-height: 34px;
	font-size: 14px;
	border: none;
	color: #999;
	outline: none;
/*	margin-bottom: 1px solid #4095D5;
*/}

.pageHead .searchClass {
	position: relative;
	width: 62px;
	text-indent: 7px;
}

.pageHead .searchClass a {
	display: block;
	color: #666;
	height: 25px;
	line-height: 25px;
}

.pageHead .searchClass a:hover {
	background-color: lightgreen;
}

.pageHead .searchClass span {
	cursor: pointer;
	display: block;
	background:url(http://img1.chuangshi.qq.com/book/p1/ico/adown.png) no-repeat 88% 55%;
}

.pageHead .searchBox {
	height: 100px;
	width: 62px;
	position: absolute;
	left: -2px;
	background-color: white;
	border: 2px solid #5EA3E6;
	border-top: none;
	display: none;
	z-index: 2;
}
.pageCenter .searchBtn {
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/searchBtn.png) no-repeat;
	border: none;
	width: 36px;
	height: 34px;
	cursor: pointer;
}

.pageCenter .codeImg {
	font-size: 12px;
	width: 103px;
 	height: 111px;
 	border: 1px solid #DDD;
 	text-align: center;/*里面的内容居中*/
 	position: relative;
}

.codeImg p {
	font-size: 12px;
	height: 21px;
	padding-top: 3px;
	line-height: 21px;
}

.codeImg a.close {
	width: 19px;
	height: 19px;
	position: absolute;
	top: -1px;
	right: -2px;
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/codeClose.png) no-repeat;
}

/*.recommend样式*/
.recommend {
	height: 360px;
	width: 1000px;
	position: relative;
}

.recommend .imgBox div {
	position: absolute;
	opacity: 0;
}

.recommend .suspendBox {
	width: 276px;
	height: 299px;
	padding: 16px 12px;
	position: absolute;
	background-color: white;
	top: 12px;
	right: 12px;
	box-shadow: 0 0 10px 0 #777;
	z-index: 3;
}

.recommend .suspendBox li {
/*	list-style-position: inside;*/
	height: 36px;
	line-height: 36px;
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/bluePoint.png) left no-repeat;
	font-size: 12px;
	padding-left: 8px;
	border-bottom: 1px dotted #DDD;
	overflow: hidden;
}

.recommend .suspendBox h3 {
	font-weight: 100;
	height: 27px;
	line-height: 27px;
	font-size: 15px;
	color: #0773C0;
	padding-left: 24px;
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/newNotice.png) left no-repeat;
}

.recommend .suspendBox .innerBox h3.marginSet {
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/readsite.png) left no-repeat;
	margin: 15px 0;
}

.recommend .suspendBox .innerBox .other a {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding-left: 26px;
	margin-right: 10px;
	font-size: 14px;
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/cs_ico.png) left no-repeat;

}

.other {
	white-space: nowrap;
}

.recommend .suspendBox a {
	color: #666;
}
.recommend .switcher {
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 10px;
}


.recommend .switcher a {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 8px;
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/circle.png) no-repeat;
}

.recommend .switcher a.chosen {
	background: url(http://img1.chuangshi.qq.com/book/p1/ico/cirCur.png) no-repeat;
}

.recommend .imgBox .firstShow {
	opacity: 1;
}

.books {
	height: 422px;
	margin-bottom: 20px;
	background: url(http://img1.chuangshi.qq.com/book/p1/chtit.png) no-repeat;
	margin-top: 22px;
}

.books .booksTitle {
	width: 668px;
	height: 43px;
	line-height: 43px;
	color: #FFF;
}

.books .booksTitle a {
	color: #FFF;
}

.books .booksTitle .fl a {
	font-family: Arial;
	display: inline-block;
	padding-top: 1px;
	padding-left: 11px;
	font-size: 14px;
}

.books .booksTitle h3 {
	font-size: 18px;
	font-weight: 100;
	padding-left: 19px;
}

.books .booksTitle .titleRight {
	line-height: 48px;
	margin-right: 5px;
}

.books .booksTitle .titleRight a {
	font-family: simsun;
	font-size: 14px;
	border-right: 1px solid #DDD;
	padding-right: 10px;
	margin-right: 10px;
}

.books .detail {
	color: #666;
}

.books .booksWrap {
	padding-top: 26px;
	border-left: 3px solid #F2F2F2;
	border-right: 3px solid #F2F2F2;
	border-bottom: 3px solid #F2F2F2;
	height: 350px;
}

.books .booksTitle .titleRight a:last-child {
	border: 0;
}

.books .booksLeft {
	padding-left: 23px;
	width: 204px;
	margin-right: 44px;
}

.books .booksLeft h4 {
	font-size: 15px;
	font-weight: 100;
	text-align: center;
	margin-top: 14px;
	margin-bottom: 8px;
}

.books .booksLeft a {
	color: #0773C0;
}

.books .booksLeft p {
	font-size: 13px;
	line-height: 1.8;
	height: 42px;
	width: 204px;
	overflow: hidden;
}

.books .booksLeft img {
	border: 2px solid #CCC;
}

.books .booksRight {
	width: 370px;
}

.books .booksRight img {
	width: 62px;
	height: 78px;
	margin-right: 18px;
}

.books .booksRight h4 {
	font-size: 13px;
	margin-bottom: 5px;
}

.books .booksRight h4 a {
	color: #0773C0;
}

.books .booksRight p {
	font-size: 12px;
	line-height: 1.8;
}

.books .booksRight p a:hover {
	color: #0773C0;
}

.books .booksRight .block {
	height: 79px;
	border-bottom: 1px dotted #DDD;
    margin-bottom: 8px;
    padding-bottom: 7px;
}

.color999 {
	color: #999;
}

.books .booksRight .bottomBook {
	height: 38px;
}

.books .booksRight .bottomBook p {
	font-size: 14px;
	line-height: 1.8;
	overflow: hidden;
}

.bottomBook .last {
	margin-right: 12px;
}

.blue {
	color: #0773C0;
}
